<div class="row animated fadeIn fast">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Usuario</h3>
        <div *ngIf="usuarios.length === 0" class="alert alert-info">
          <p class="mb-0">No hay usuarios con ese termino</p>
        </div>

        <div *ngIf="usuarios.length > 0" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr class="animated fadeIn" *ngFor="let usuario of usuarios">
                <td>
                  <img
                    [src]="usuario.img | imagen: 'usuarios'"
                    class="avatar w100"
                  />
                </td>
                <td>{{ usuario.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Medicos</h3>
        <div *ngIf="medicos.length === 0" class="alert alert-info">
          <p class="mb-0">No hay medicos con ese termino</p>
        </div>

        <div *ngIf="medicos.length > 0" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr
                (click)="abrirMedico(medico)"
                class="animated fadeIn cursor"
                *ngFor="let medico of medicos"
              >
                <td>
                  <img
                    [src]="medico.img | imagen: 'medicos'"
                    class="avatar w100"
                  />
                </td>
                <td>{{ medico.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Hospitales</h3>
        <div *ngIf="hospitales.length === 0" class="alert alert-info">
          <p class="mb-0">No hay hospitales con ese termino</p>
        </div>

        <div *ngIf="hospitales.length > 0" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr class="animated fadeIn" *ngFor="let hospital of hospitales">
                <td>
                  <img
                    [src]="hospital.img | imagen: 'hospitales'"
                    class="avatar w100"
                  />
                </td>
                <td>
                  {{ hospital.nombre }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
